---
layout: base.njk
templateEngineOverride: md, njk
---

{# A tiny extra style for the starter home page, intended to be removed as you customize to fit your own content! #}

<style>
  .logo {
    width: 12vmax;
    height: 12vmax;
    margin: 0 auto 2rem;
  }

  .logo svg {
    width: 100%;
    height: 100%;
  }

  .tdbc-hero {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  #quickstart + ol li:first-child,
  #quickstart + ol li:first-child p {
    font-size: 1.5rem;
  }
</style>
<header class="tdbc-hero">
  <div class="tdbc-container">
    <h1 class="tdbc-ink--primary tdbc-mb-none">{{ meta.siteName }}</h1>
    <h2 class="tdbc-lead tdbc-content-maxlength tdbc-ink--gray tdbc-mt-md tdbc-mx-auto">
      {{ meta.siteDescription }}
    </h2>
  </div>
</header>
<main class="tdbc-container">
  {# <div class="tdbc-section">
    <ul class="tdbc-column-container">
      {%- for page in collections.pages -%}
      <li class="tdbc-card">
        <div class="tdbc-card__content">
          <a href="{{ page.url }}" class="tdbc-card__title">{{ page.data.title }}</a>
          <p>{{ page.data.description }}</p>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  </div> #}
  <style>
    
  </style>
  
## Центри гуманітарної допомоги для ВПО

-   [Тернівський район](https://idp-kr.notion.site/352834de0eb340688e731ded74f68835)
-   [Покровський район](https://idp-kr.notion.site/bbf2260075884b8f800780c038d9a365)
-   [Саксаганський район](https://idp-kr.notion.site/e3c133dc702f4705afa342f52662d63e)
-   [Центрально-міський район](https://idp-kr.notion.site/d8caeb0976f043cab553186b1241a799)
-   [Металургійний район](https://idp-kr.notion.site/8756d8c515b5490bb04cd02e6e990a65)
-   [Довгинцівський район](https://idp-kr.notion.site/45a1255b45f64280ac30afacc5772164)
-   [Інгулецький район](https://idp-kr.notion.site/00d328dd8f184e8aad531d3c647adde3)

{# <h2 id="quickstart" class="tdbc-h3 tdbc-mt-lg">Quick Start</h2>

1. [Generate a repo from this template](https://github.com/5t3ph/11ty-netlify-jumpstart/generate) which will copy this project into your own new repo.

1. Once cloned, run `npm install` to install 11ty and other dependencies. Then run `npm start` to run 11ty in watch mode. Use `npm run build` to run a production version.

1. Open `src/_data/meta.js` and adjust the values to your details.

1. Review the [styling documentation](https://5t3ph.github.io/html-sass-jumpstart/) for the included minimal Sass framework, particularly the theme variables, to quickly customize the starter.

1. Edit `src/index.njk` to change the home page - including changing the template type if desired - and then create content within `_pages` using any templating format you prefer to add content.

1. Check out the [About page](/about/) for expanded details on included features of this starter.

1. Review the [11ty documentation](https://11ty.dev) to more deeply apply customizations, including adding custom data sources and reviewing what template languages are available.

<h3 class="tdbc-h4">Is Netlify hosting required?</h3>

It's not required, but highly recommended, and is also how the build process is setup to run.

> For more Eleventy resources, check out my extended collection on [11ty.Rocks](https://11ty.rocks)! #}

{{ content | safe }}

</main>
